[submodule "hass-nec-control"]
	path = hass-nec-control
	url = https://github.com/MichalTorma/hass-nec-control.git
[submodule "ha-mattermost"]
	path = ha-mattermost
	url = https://github.com/MichalTorma/ha-mattermost
[submodule "ha-synapse"]
	path = ha-synapse
	url = https://github.com/MichalTorma/ha-synapse.git
