[submodule "hass-nec-control"]
	path = hass-nec-control
	url = https://github.com/MichalTorma/hass-nec-control.git
[submodule "ha-mattermost"]
	path = ha-mattermost
	url = https://github.com/MichalTorma/ha-mattermost
[submodule "ha-synapse"]
	path = ha-synapse
	url = https://github.com/MichalTorma/ha-synapse.git
[submodule "ha-coturn"]
	path = ha-coturn
	url = https://github.com/MichalTorma/ha-coturn.git
[submodule "ha-livekit"]
	path = ha-livekit
	url = https://github.com/MichalTorma/ha-livekit.git
[submodule "ha-endurian"]
	path = ha-endurian
	url = https://github.com/MichalTorma/ha-endurain.git
